@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #192449;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.img{
    justify-content: center;
    display: flex;
    margin-top: 1%;
    margin-left: -20%;

}

.div-nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

.pesq{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    height: 5vh;
    font-size: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    width: 95%;
    height: 10vh;
}

.div-1{
    font-size: 120%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
    height: 10vh;
}

li{
    list-style-type: none;
}

li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 6vh;
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
    font-size: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

li a:hover{
    background-color: #2D50AA;
}

.selecionado{
    display: flex;
    color: white;
    text-decoration: none;
    border: 1px solid #2D50AA;
    background-color: #2D50AA;
    box-shadow: 1px 1px 15px #1a1c24;
    text-shadow: 4px 3px 5px black;
    border-radius: 20px;
    width: 11vw;
    height: 6vh;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

.div-mae-mod{
    display: flex;
    align-items: center;
    width: 100vw;
    margin-bottom: 5%;
    margin-top: 2%;
}

.div-espa{
    margin-left: 5%;
}

.div-nav-mod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: 4%;
    margin-top: 5%;
}

.input-pes{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #413e3e;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 100%;
    box-shadow: 5px 5px 10px 4px rgba(36, 36, 36, 0.881);
}

.div-nome{
    display: flex;
    justify-content: center;
    width: 20vw;
    margin-top: 5%;
}

.a-camp{
    margin-top: 5%;
    margin-left: 0%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 47vh;
    width: 38vw;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 5px black;
}

.img-live2{
    margin-top: -12%;
    margin-left: 59%;
}

.filho-a{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

img{
    border-radius: 20px;
}