@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #192449;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    margin-top: 2%;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
    height: 10vh;
}

li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 6vh;
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
    font-size: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

li a:hover{
    background-color: #2D50AA;
}

.selecionado{
    display: flex;
    color: white;
    text-decoration: none;
    border: 1px solid #2D50AA;
    background-color: #2D50AA;
    box-shadow: 1px 1px 15px #1a1c24;
    text-shadow: 4px 3px 5px black;
    border-radius: 20px;
    width: 11vw;
    height: 6vh;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

li{
    list-style-type: none;
}

.div-nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

.pesq{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #413e3e;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 100%;
    box-shadow: 5px 5px 10px 4px  rgba(36, 36, 36, 0.881);
}

.div-nov2{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nov{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    box-shadow: 5px 9px 20px 23px rgb(26, 25, 65);
    width: 55vw;
    height: 32vh;
    border-radius: 20px;
    padding-left: 5px;
    margin-right: 15%;
    margin-bottom: 5%;
}

.nov2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    box-shadow: 5px 9px 20px 23px rgb(26, 25, 65);
    width: 55vw;
    height: 32vh;
    border-radius: 20px;
    padding-right: 5px;
    margin-left: 15%;
    margin-bottom: 5%;
}

img{
    border-radius: 20px;

}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    text-align: justify;
    padding: 15px;
}

.a1{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}