@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #192449;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
    margin-top: 5%;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 200%;
}

.voltar{
    font-size: 160%;
}

main{
    width: 40vw;
    border: none;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: rgb(2, 2, 94);
    margin-top: 7%;
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
}

h2{
    margin-top: 2%;
}

.info{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 15%;
    height: 25vh;
}

.sociais{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}